NumPy : Practice Problems

1. Create a null vector of size 10 but the fifth value which is 1.

In [1]:
import numpy as np

a = np.zeros(10)
a[4] = 1
a

array([0., 0., 0., 0., 1., 0., 0., 0., 0., 0.])

2. Create a vector with values ranging from 10 to 49.

In [2]:
a = np.arange(10,50)
a

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49])

3. create two arrays and stack them vertically

In [3]:
a = np.array([[1,1],
             [6,5]])

b = np.array([[5,1],
             [6,2]])

np.vstack((a,b))

array([[1, 1],
       [6, 5],
       [5, 1],
       [6, 2]])

4. Create a 1d numpy array with values ranging from 0 to 8 and extract 5th element.

In [4]:
a = np.arange(8)
print(a[4])

4

5. Create a 3x3 matrix with values ranging from 0 to 8

In [5]:
#ValueError: cannot reshape array of size 8 into shape (3,3)

6. Filter non-zero elements from numpy array [1,2,0,0,4,0]

In [6]:
b =np.array([1,2,0,0,4,0])
print(b[b>0])

[1 2 4]

7. Create a 10x10 array with random values and find the minimum and maximum values.

In [7]:
#https://drive.google.com/file/d/10zAV4DBzQkXu2oE4r0pVCU0X8aj5Uw_t/view?usp=sharing
x = np.random.random((10,10))
x

array([[9.00433729e-01, 5.48488329e-01, 2.79815808e-01, 3.93236370e-01,
        1.98702256e-01, 1.79320176e-01, 5.07421418e-01, 6.01904318e-01,
        9.73605706e-01, 4.72671649e-01],
       [9.61518600e-01, 8.11757379e-01, 9.97938738e-01, 2.78974437e-01,
        6.51735375e-01, 1.19852378e-01, 2.96921465e-04, 2.17551512e-01,
        7.73495280e-01, 4.40323610e-01],
       [1.19679208e-01, 9.72804773e-01, 2.32344810e-01, 9.57209608e-02,
        5.47489157e-01, 1.99374565e-01, 7.97991058e-01, 3.22455344e-01,
        9.00605339e-01, 1.84330928e-01],
       [5.46105576e-01, 1.76390230e-01, 8.23649166e-01, 6.17994078e-01,
        2.76250140e-02, 9.35211709e-01, 5.92557731e-01, 2.44988018e-01,
        3.69372725e-01, 6.01467555e-02],
       [3.23988310e-01, 6.39773124e-01, 8.48126359e-01, 3.91518797e-01,
        5.52956004e-01, 5.50791497e-01, 6.07583750e-01, 3.48406174e-01,
        4.53567897e-01, 7.62949011e-01],
       [9.67228050e-01, 8.29648734e-01, 9.26371539e-01, 1.64458999e-02,
        4.09918578e-01, 5.74218540e-01, 5.96023973e-01, 6.18792763e-01,
        5.63088509e-01, 7.56999139e-01],
       [8.31420795e-02, 4.98198475e-02, 3.02096095e-01, 3.66790940e-01,
        2.05741516e-01, 1.20734541e-01, 3.30914297e-01, 1.17806732e-01,
        9.95470625e-01, 7.33719227e-01],
       [1.79475061e-01, 9.19956090e-01, 5.87087606e-01, 2.01545862e-01,
        5.93013227e-02, 7.48899603e-01, 2.27284929e-01, 8.44720845e-01,
        2.85356080e-01, 1.12031714e-01],
       [9.81890025e-01, 2.64598396e-01, 7.48672540e-01, 1.44559310e-01,
        4.07724253e-01, 2.49048112e-01, 1.00009462e-01, 4.39876952e-01,
        7.76951028e-01, 3.61257291e-01],
       [7.11438600e-01, 4.32311501e-01, 2.58031385e-01, 6.08106011e-01,
        6.09006218e-01, 5.40204976e-01, 5.82045469e-01, 9.49601211e-01,
        9.76464623e-01, 7.36285559e-01]])

In [8]:
x.max()

0.997938738276446

In [9]:
x.min()

0.00029692146466031577

8. Create a random vector of size 30 and find the mean value.

In [10]:
x = np.random.random(30)
print(x.mean())

0.47110922985069037

9. Create a 1d array of size 10 and reshape it into 2d of shape(2,5).

In [11]:
x = np.array([10,5,6,6,3,4,8,2,8,24,]).reshape(2,5)
x

array([[10,  5,  6,  6,  3],
       [ 4,  8,  2,  8, 24]])

10. Create a 3*3 matrix and print it's transpose matrix

In [12]:
np.random.seed(9)
a = np.random.random(9).reshape(3,3)
a

array([[0.01037415, 0.50187459, 0.49577329],
       [0.13382953, 0.14211109, 0.21855868],
       [0.41850818, 0.24810117, 0.08405965]])

In [13]:
a.T #Transpose Matrix

array([[0.01037415, 0.13382953, 0.41850818],
       [0.50187459, 0.14211109, 0.24810117],
       [0.49577329, 0.21855868, 0.08405965]])

11. Create an array of 3*3 and find  max of columns.

In [14]:
a = np.array([[1,2,3],
             [9,6,4],
             [9,5,4]])
a

array([[1, 2, 3],
       [9, 6, 4],
       [9, 5, 4]])

In [15]:
#https://drive.google.com/file/d/16ffk2bwVvXHz1qkOWcWJ_17x9vNFVoEU/view?usp=sharing

print(a.max(axis =0))  #for columns

[9 6 4]

In [16]:
print(a.max(axis =1)) #for rows

[3 9 9]

12. Create two arrays of 2-D and find dot product of it.

In [17]:
a = np.array([[1,2],[5,6]])
b = np.array([[1,9],[53,8]])

np.dot(a,b)

array([[107,  25],
       [323,  93]])

13. Using given two array try to print out 3rd given array.
a = np.array(['a', 'b', 'c'], dtype=object) b = np.array([1,2,3])

output = ['a', 'bb', 'ccc']

In [18]:
a = np.array(['a', 'b', 'c'], dtype=object)
b = np.array([1,2,3])
c = np.outer(a,b)
s = [c[0][0],c[1][1],c[2][2]]
s

['a', 'bb', 'ccc']

14. How to find common values between two arrays

In [19]:
a1 = np.array([1,12,2,9,55,42,5,5,2])
a2 = np.array([14,12,29,9,55,42,95,28])
c = np.intersect1d(a1,a2)
c

array([ 9, 12, 42, 55])

15. Find cube of a mtrix.

In [29]:
a1 = np.array([[1,2,3,4], [5,6,7,2],[2,2,5,2]])
c = pow(a1,3) 
c

array([[  1,   8,  27,  64],
       [125, 216, 343,   8],
       [  8,   8, 125,   8]], dtype=int32)